body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    margin-bottom: 20px;
    background-color: #FF0000;
}

.sneaker {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.sneaker img {
    max-width: 200px;
    margin-right: 20px;
}

.sneaker-info {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.sneaker:hover {
    transform: scale(1.05);
}

.sneaker:hover .sneaker-info {
    display: block;
}


/* Estilos para el footer */
.footer {
    background-color: #FF0000; /* Cambia el color del footer a rojo */
    color: #fff; /* Cambia el color del texto del footer a blanco */
    text-align: center; /* Centra el contenido del footer */
    padding: 20px 0; /* Añade un espacio de 20px arriba y abajo para hacerlo más grande */
    font-size: 18px; /* Ajusta el tamaño de fuente del footer */
}

